header {
  display: flex;
  padding: 10px 25px;
  justify-content: space-between;
}

.content {
  display: flex;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 36px);
}

.card {
  background: $white;
  min-width: 350px;
  padding-bottom: 0;
  background: white;
  border-radius: 15px;
  box-shadow: 0 20px 40px 0 rgba(204, 204, 204, 0.1);
}

.link {
  line-height: 1.75;
  color: $persian-green;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
